

<div id="add_repo1">
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="repo_name1" placeholder="Repo Name" aria-label="repo name" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button onclick="addRepo1()" id="add_repo_button1" class="btn btn-light btn-outline-secondary" type="button">Add Repo</button>
        </div>
      </div>
</div>
<div id="chart_div1" class="chart_div">
    
</div>
<div id="included_repos1">
</div>

<div id="add_repo2">
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="repo_name2" placeholder="Repo Name" aria-label="repo name" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button onclick="addRepo2()" id="add_repo_button2" class="btn btn-light btn-outline-secondary" type="button">Add Repo</button>
        </div>
      </div>
</div>
<div id="chart_div2" class="chart_div">
    
</div>
<div id="included_repos2">
</div>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    //google.charts.setOnLoadCallback(drawChart1);
    const emptyJSON = [['Date'],
                    ['2018-01'],
                    ['2018-02'],
                    ['2018-03'],
                    ['2018-04'],
                    ['2018-05'],
                    ['2018-06'],
                    ['2018-07'],]

    window.localStorage.setItem('chartdata1', JSON.stringify(emptyJSON))
    window.localStorage.setItem('chartdata2', JSON.stringify(emptyJSON))

    function drawChart1() {
        /*var array = [
          ['Date', 'REPO1', 'REPO2'],
          ['2018-01',  190,      42],
          ['2018-04',  176,      135],
          ['2018-08',  45,      235],
          ['2018-09',  17,      77],
          ['2018-10',  154,      100],
          ['2018-12',  1,      11],
          ['2019-01',  200,      77],
          ['2019-03',  111,      99],
          ['2019-04',  33,      55],
        ];*/
        var array = []
        array = JSON.parse(window.localStorage.getItem('chartdata1'))

        var data = google.visualization.arrayToDataTable(array);

        var options = {
            title: 'First Time Contributors of Repositories',
            curveType: "function",
            vAxis: {title: "Contributors"},
            hAxis: {title: "Date"},
            seriesType: "bars",
            series: {9999: {type: "line"}}
        };
        window.localStorage.setItem('chartdata1', JSON.stringify(array))
        var chart = new google.visualization.ComboChart(document.getElementById('chart_div1'));
        chart.draw(data, options);
    }

    function addRepo1(){
        var repoName = document.getElementById("repo_name1").value
        var data = []
        data = JSON.parse(window.localStorage.getItem('chartdata1'));
        data[0].push(repoName)
        var i = 1
        while(i < data.length){
            data[i].push(Math.floor(Math.random() * 100) + 1);
            i++
        }
        window.localStorage.setItem('chartdata1', JSON.stringify(data));
        drawChart1()
        var included = document.getElementById("included_repos1");
        var node = document.createTextNode("<button>Remove " + repoName + "<button>")
        //included.appendChild(node);
    }

    function drawChart2() {
        /*var array = [
          ['Date', 'REPO1', 'REPO2'],
          ['2018-01',  190,      42],
          ['2018-04',  176,      135],
          ['2018-08',  45,      235],
          ['2018-09',  17,      77],
          ['2018-10',  154,      100],
          ['2018-12',  1,      11],
          ['2019-01',  200,      77],
          ['2019-03',  111,      99],
          ['2019-04',  33,      55],
        ];*/
        var array = []
        array = JSON.parse(window.localStorage.getItem('chartdata2'))

        var data = google.visualization.arrayToDataTable(array);

        var options = {
            title: 'First Time Contributors of Repositories',
            curveType: "function",
            vAxis: {title: "Contributors"},
            hAxis: {title: "Date"},
            seriesType: "bars",
            series: {9999: {type: "line"}}
        };
        window.localStorage.setItem('chartdata2', JSON.stringify(array))
        var chart = new google.visualization.ComboChart(document.getElementById('chart_div2'));
        chart.draw(data, options);
    }

    function addRepo2(){
        var repoName = document.getElementById("repo_name2").value
        var data = []
        data = JSON.parse(window.localStorage.getItem('chartdata2'));
        data[0].push(repoName)
        var i = 1
        while(i < data.length){
            data[i].push(Math.floor(Math.random() * 100) + 1);
            i++
        }
        window.localStorage.setItem('chartdata2', JSON.stringify(data));
        drawChart2()
        var included = document.getElementById("included_repos2");
        var node = document.createTextNode("<button>Remove " + repoName + "<button>")
        //included.appendChild(node);
    }
</script>